/* ----------------------------------------
  Variables
---------------------------------------- */
:root {
  --c_primary: #8ECFC5;
  --c_primary-light: #DAF2ED;
  --c_accent: #F6C8A8;
  --c_background: #F8FCFB;
  --c_text-main: #3E5E59;
  --c_text-sub: #7A928D;
  --c_white: #FFFFFF;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, main, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

body {
  background-color: var(--c_primary);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--c_background);
}

.header__text {
  font-size: 24px;
}

.top__inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.top__title {
  padding-top: 120px;
  text-align: center;
  font-size: 32px;
  color: var(--c_background);
}

.topMenu {
  margin-top: 40px;
  padding: 20px 0;
  display: grid;
  gap: 30px;
}

.topMenu__link {
  display: block;
  padding: 15px 20px;
  text-align: center;
  background-color: var(--c_accent);
  border-radius: 5px;
  text-decoration: none;
  color: var(--c_text-main);
}

@media (min-width: 768px) {
  .top__title {
    font-size: 40px;
  }

  .topMenu__link {
    padding: 15px 24px;
    font-size: 22px;
  }
}

@media (min-width: 1280px) {
  .top__title {
    font-size: 48px;
  }

  .topMenu__link {
    padding: 15px 32px;
    font-size: 24px;
  }
}
